<div class="container p-3 my-3 bg-dark text-white">GUJARATH</div>



<div class="container"><p>It has a blend of Jain[8] and Muslim architecture, preserving the Islamic ethos, and is considered one of the finest mosques in Western India with its elegant interiors.[5] The ornamentation of the surface areas of the mosque and tomb consists of symbols of motifs of the Sun, diamonds, pots and vines, and lotus insignia which were used in the earlier temples; the artists of the region who worked on these monuments had imbibed their craftsmanship from their forefathers and they were not sectarian in character as they worked on assignments given by Hindus, Muslims or Jains. This mosque had three oblong mural plaques, one at the top of the pulpit and the other two on the sides, with engravings of hymns from the Koran.</p></div>
<div class="container"><p>There is a portico which has a large dome built over a podium. There are steps to the mosque from northern and southern directions. Tall octagonal minarets 30 metres (98 ft) in height are situated on both sides of the main carved[2][10] entrance.[11] A typical Gujarat style of architecture is seen in the form of oriel windows with distinctive carvings on the outer surface.[10] The carved roof contains several domes,[11] and the courtyard is large.[2] There are seven mihrabs and the entrance gates are carved and fitted with fine stone jalis.</p></div>



<div class="container">
    <h2>Jama mosque Gujarat</h2>
    
    <div class="card" style="width:400px">
        <a href="https://en.wikipedia.org/wiki/Jama_Mosque,_Champaner" class="image featured"><img src="../assets/pics/hyd.jpg" alt="" /></a>	
      <div class="card-body">
        <h4 class="card-title">jama Mosque Gujarat</h4>
        <p class="card-text">It has a blend of Jain[8] and Muslim architecture, preserving the Islamic ethos, and is considered one of the finest mosques in Western India with its elegant interiors.[5] The ornamentation of the surface areas of the mosque and tomb consists of symbols of motifs of the Sun, diamonds, pots and vines, and lotus insignia which were used in the earlier temples; the artists of the region who worked on these monuments had imbibed their craftsmanship from their forefathers and they were not sectarian in character as they worked on assignments given by Hindus, Muslims or Jains. This mosque had three oblong mural plaques, one at the top of the pulpit and the other two on the sides, with engravings of hymns from the Koran.</p>
        <a class="read_more" href="https://en.wikipedia.org/wiki/Jama_Mosque,_Champaner#History"> Read More</a>
      </div>

    </div>
</div>


