<div class="container p-3 my-3 bg-dark text-white">Madyapradesh</div>
<div class="container"><p>The construction work of this mosque started in the reign of the Mughal Emperor Bahadur Shah Zafar by Nawab Shah Jahan Begum (1844–1860 and 1868–1901) of Bhopal (Wife of Nawab Syed Siddiq Hasan Khan) and continued to be built by her daughter Sultan Jahan Begum, till her lifetime.</p></div>
<div class = "container">
    <h2> Three in madyapadesh state</h2>
    <div class = "card-deck">
       <div class = "card">
        <a href="https://en.wikipedia.org/wiki/Taj-ul-Masajid#Architecture" class="image featured"><img src="../assets/pics/kul.jpg" alt="" /></a>	
          
          <div class = "card-body">
             <h5 class = "card-title">Mahakaleshwar temple</h5>
             <p class = "card-text">
               The mosque was not completed due to lack of funds, and after a long lay-off after the War of 1857, construction was resumed in 1971 by Allama Mohammad Imran Khan Nadwi Azhari and Maulana Sayed Hashmat Ali Sahab of Bhopal. The construction was completed by 1985 and the entrance  </p>
          </div>
          
          <div class = "card-footer">
             <small class = "text-muted"><a class="read_more" href="https://en.wikipedia.org/wiki/Taj-ul-Masajid#Architecture"> Read More</a>	</small>
          </div>
       </div>
       
       <div class = "card">
        <a href="https://en.wikipedia.org/wiki/Aalmi_Tablighi_Ijtima" class="image featured"><img src="../assets/pics/guide.jpg" alt="" /></a>	
          <div class = "card-body">
             <h5 class = "card-title">omkareshwar</h5>
             <p class = "card-text">
               The mosque has a pink facade topped by two 18-storey high octagonal minarets with marble domes, an impressive main hallway with attractive pillars and marble flooring resembling Mughal architecture the likes of Jama Masjid in Delhi and the huge Badshahi Mosque of Lahore </p>
          </div>
          
          <div class = "card-footer">
             <small class = "text-muted"><a class="read_more" href="https://en.wikipedia.org/wiki/Aalmi_Tablighi_Ijtima"> Read More</a>		</small>
          </div>
       </div>
       
       <div class = "card">
        <a href="https://en.wikipedia.org/wiki/Aalmi_Tablighi_Ijtima" class="image featured"><img src="../assets/pics/kar.jpg" alt="" /></a>
          
          <div class = "card-body">
             <h5 class = "card-title">domes mosque</h5>
             <p class = "card-text">
               The mosque has a pink facade topped by two 18-storey high octagonal minarets with marble domes, an impressive main hallway with attractive pillars and marble flooring resembling Mughal architecture the likes of Jama Masjid in Delhi and the huge Badshahi Mosque of Lahore </p>
          </div>
          
          <div class = "card-footer">
             <small class = "text-muted"><a class="read_more" href="https://en.wikipedia.org/wiki/Aalmi_Tablighi_Ijtima"> Read More</a></small>
          </div>
       </div>
    </div>
 </div>
                									