
<div class="container p-3 my-3 bg-dark text-white">THAMILNADU</div>

<div class="container">
    <h2>THAMILNADU</h2>
    <div class="container"><p>The mosque built in the Dravidian architectural style of the late Vijayanagara period, has elements that are specific to native traditions. Like many other kallupallis, this mosque too has Podhigai, the floral bud detailing on the pillar corbels,</p></div>
  <div class="container"></div>
    <div class="card" style="width:400px" class="center">
        <a href="https://www.thehindu.com/society/history-and-culture/mosques-in-dravidian-islamic-style-about-the-islamic-architecture-in-tamil-nadu/article20696593.ece" class="image featured"><img src="../assets/pics/ap.jpg" alt="" /></a>	
      <div class="card-body">
        <h4 class="card-title">kul sharif mosque</h4>
        <p class="card-text"><p>Among the many inscriptions at the Vaishnavite shrine of Adhi Jagannatha Swamy at Thirupullani, about 10 km from Ramanathapuram in southern Tamil Nadu, there is one about a grant for a mosque. This particular inscription of the late 13th Century by the Pandya King Thirubuvana Chakravarthy Koneri Mei Kondan </p>
        <a class="read_more" href="https://www.thehindu.com/society/history-and-culture/mosques-in-dravidian-islamic-style-about-the-islamic-architecture-in-tamil-nadu/article20696593.ece"> Read More</a>	
    </div>