
<div class="container p-3 my-3 bg-dark text-white"> <marquee direction="left"><h1>WANT TO TRAVEL CONTACT US</h1></marquee></div>

<div class="container">

    <div class="card-deck">
        <div class="card bg-primary">
          <div class="card-body text-center">
            <p class="card-text" style="color: cornsilk;"><b>Ulfath</b></p>
          </div>
        </div>
        <div class="card bg-warning">
          <div class="card-body text-center">
            <p class="card-text" style="color: cornsilk;"><b>PHONE NUMBER:999000890</b></p>
          </div>
        </div>
        <div class="card bg-success">
          <div class="card-body text-center">
            <p class="card-text" style="color: cornsilk;"><b>EMAIl ID:ulfath@gmail.com</b></p>
          </div>
        </div>
        <div class="card bg-danger">
          <div class="card-body text-center">
            <p class="card-text" style="color: cornsilk;"><b>HYDERABDA,TS</b></p>
          </div>
        </div>
      </div>
</div>