<div class="container p-3 my-3 bg-dark text-white">JHARKHAND </div>
<div class="container">
    <h2>JHARKHAND</h2>
    
  <div class="container"><p>The Jama Masjid is a mosque located in Chitarpur town in Ramgarh district in the Indian state of Jharkhand. It is one of the oldest mosques of the state built in late 16th century by Mughal rulers. The architecture of mosque is unique and built in Mughal architecture. The mosque hold prayer sessions every day</p></div>
    <div class="card" style="width:400px" class="center">
        <a href="https://en.wikipedia.org/wiki/Jama_Masjid,_Ramgargh" class="image featured"><img src="../assets/pics/jama.jpg"alt=" " /></a>	
      <div class="card-body">
        <h4 class="card-title">Noori mosque</h4>
        <p class="card-text">Located at Chitarpur 16 km away from Ramgarh, this masque is an excellent piece of Mughal art and architecture. It has the capacity to accommodate 5000 people to offer their holy namaz. It is the biggest mosque of its kind in Jharkhand. It is believed that this mosque was built around 1670 on a land donated by the then king of Ramgarh. In its present form this mosque resembles the Jama Masjid of Delhi. From architectural</p>
        <a class="read_more" href="https://en.wikipedia.org/wiki/Category:Mosques_in_Jharkhand"> Read More</a>	
      </div>
    </div>