
<div class="container p-3 my-3 bg-dark text-white">UTTHARAKHAND</div>

<div class="container">
    <h2>UTTHARAKHAND</h2>
    <div class="container"><p>The mosque dates to 1513; construction was carried out over 25 years.[2] It is one of the most notable monuments built by Sultan Mahmud Begada. The Mughal architecture is said to have drawn from the architecture of the Sultanates, </p></div>
  <div class="container"></div>
    <div class="card" style="width:400px" class="center">
        <a href="https://en.wikipedia.org/wiki/Category:Mosques_in_Uttar_Pradesh" class="image featured"><img src="../assets/pics/kar.jpg" alt="" /></a>	
      <div class="card-body">
        <h4 class="card-title">shahi mosque </h4>
        <p class="card-text"><p>The mosque dates to 1513; construction was carried out over 25 years.[2] It is one of the most notable monuments built by Sultan Mahmud Begada. The Mughal architecture is said to have drawn from the architecture of the Sultanates, </p>
        <a class="read_more" href="https://en.wikipedia.org/wiki/Category:Mosques_in_Uttar_Pradesh"> Read More</a>	
      </div>
    </div>