<div class="container p-3 my-3 bg-dark text-white">maharashtra</div>
<div class="container"><p> Maharashtra government decided to open all the religious places, Islamic organisation Raza Academy has written a letter to Maharashtra Governor Bhagat Singh Koshyari, urging him to allow citizens to pray at the mosque inside Raj Bhavan.</p></div>
<div class = "container">
    <h2> maharashtra state</h2>
    <div class = "card-deck">
       <div class = "card">
        <a href="https://www.ixigo.com/haji-ali-shrine-mumbai-india-ne-1280985" class="image featured"><img src="../assets/pics/delhi.jpg" alt="" /></a>
          
          <div class = "card-body">
             <h5 class = "card-title">jama mosque</h5>
             <p class = "card-text">
               Maharashtra government decided to open all the religious places, Islamic organisation Raza Academy has written a letter to Maharashtra Governor Bhagat Singh Koshyari, urging him to allow citizens to pray at the mosque inside Raj Bhavan. </p>
          </div>
          
          <div class = "card-footer">
             <small class = "text-muted"><a class="read_more" href="https://www.ixigo.com/haji-ali-shrine-mumbai-india-ne-1280985"> Read More</a></small>
          </div>
       </div>
       
       <div class = "card">
        <a href="https://www.ixigo.com/haji-ali-shrine-mumbai-india-ne-1280985" class="image featured"><img src="../assets/pics/blue.jpg" alt="" /></a>
          <div class = "card-body">
             <h5 class = "card-title">sharif al mosque</h5>
             <p class = "card-text">
               Maharashtra government decided to open all the religious places, Islamic organisation Raza Academy has written a letter to Maharashtra Governor Bhagat Singh Koshyari, urging him to allow citizens to pray at the mosque inside Raj Bhavan. </p>
          </div>
          
          <div class = "card-footer">
             <small class = "text-muted"><a class="read_more" href="https://www.ixigo.com/haji-ali-shrine-mumbai-india-ne-1280985"> Read More</a>	</small>
          </div>
       </div>
       
       <div class = "card">
        <a href="https://www.ixigo.com/haji-ali-shrine-mumbai-india-ne-1280985" class="image featured"><img src="../assets/pics/ap.jpg" alt="" /></a>
          
          <div class = "card-body">
             <h5 class = "card-title">al harma madina mosque</h5>
             <p class = "card-text">
               Maharashtra government decided to open all the religious places, Islamic organisation Raza Academy has written a letter to Maharashtra Governor Bhagat Singh Koshyari, urging him to allow citizens to pray at the mosque inside Raj Bhavan. </p>
          </div>
          
          <div class = "card-footer">
             <small class = "text-muted"><a class="read_more" href="https://www.ixigo.com/haji-ali-shrine-mumbai-india-ne-1280985"> Read More</a></small>
          </div>
       </div>
    </div>
 </div>
                									