<div class="container p-3 my-3 bg-dark text-white">UTTHARAPRADESH</div>


<div class="container">
    <h2>marble mosque</h2>
    <p>The most venerated mosque shrine in Uttarakhand is Piran Kaliyar Sharif located towards south of Haridwar which is equally revered by Hindus and Muslims. It witnesses large number of devotees every year seeking blessings from The Almighty. Piran Kaliyar is the dargah of Alauddin Ali Ahmed Sabir Kalyari.</p>
    
    <div class="container" class="center"><p>The most venerated mosque shrine in Uttarakhand is Piran Kaliyar Sharif located towards south of Haridwar which is equally revered by Hindus and Muslims. It witnesses large number of devotees every year seeking blessings from The Almighty. Piran Kaliyar is the dargah of Alauddin Ali Ahmed Sabir Kalyari.</p></div>
  <div class="container" class="center"><p>The most venerated mosque shrine in Uttarakhand is Piran Kaliyar Sharif located towards south of Haridwar which is equally revered by Hindus and Muslims. It witnesses large number of devotees every year seeking blessings from The Almighty. Piran Kaliyar is the dargah of Alauddin Ali Ahmed Sabir Kalyari.</p></div>
    <div class="card" style="width:400px" class="center"><a href="https://www.euttaranchal.com/tourism-theme/mosque-19.php" class="image featured"><img src="../assets/pics/ap.jpg" alt="" /></a>
      <div class="card-body">
        <h4 class="card-title">Marble blue mosque</h4>
        <p class="card-text">The most venerated mosque shrine in Uttarakhand is Piran Kaliyar Sharif located towards south of Haridwar which is equally revered </p>
        <a class="read_more" href="https://www.euttaranchal.com/tourism-theme/mosque-19.php"> Read More</a>		
      </div>
    </div>