
<div class="container p-3 my-3 bg-dark text-white">ANDRAPRADESH</div>
<div class="container"><p>Begum Shahi Mosque (Urdu: بیگم شاہی مسجد‎), officially The Mosque of Mariyam Zamani Begum is an early 17th-century mosque situated in the Walled City of AP .</p></div>

<div class="container">
    <h2>Shahi Mosque</h2>
    
    <div class="card" style="width:400px">
        <a href="https://en.wikipedia.org/wiki/Begum_Shahi_Mosque" class="image featured"><img src="../assets/pics/bea.jpg" alt="" /></a>	
      <div class="card-body">
        <h4 class="card-title">shahi</h4>
        <p class="card-text">Begum Shahi Mosque (Urdu: بیگم شاہی مسجد‎), officially The Mosque of Mariyam Zamani Begum is an early 17th-century mosque situated in the Walled City of AP .</p></div>
      
        <a class="read_more" href="https://www.google.com/search?rlz=1C1GCEB_enIN905IN905&sxsrf=ALeKk01R72VAkO9OMxND7V7BZiJtpt9mfA:1612449179598&q=shahi%20mosque&sa=X&ved=2ahUKEwjSr8WkudDuAhX-zTgGHZkpA9YQvS4wAXoECAIQOQ&tbs=lf:1,lf_ui:2&tbm=lcl&rflfq=1&num=10&rldimm=11703304259127306980&lqi=CgxzaGFoaSBtb3NxdWVIkffcrLqdgIAIWiQKDHNoYWhpIG1vc3F1ZRAAEAEYABgBIgxzaGFoaSBtb3NxdWWSAQ1oaXN0b3JpY19zaXRl&rlst=f#rlfi=hd:;si:11703304259127306980,l,CgxzaGFoaSBtb3NxdWVIkffcrLqdgIAIWiQKDHNoYWhpIG1vc3F1ZRAAEAEYABgBIgxzaGFoaSBtb3NxdWWSAQ1oaXN0b3JpY19zaXRl;mv:[[17.4305725,78.4752863],[17.349971,78.3585315]];tbs:lrf:!1m4!1u3!2m2!3m1!1e1!1m4!1u2!2m2!2m1!1e1!1m4!1u16!2m2!16m1!1e1!1m4!1u16!2m2!16m1!1e2!2m1!1e2!2m1!1e16!2m1!1e3!3sIAE,lf:1,lf_ui:2"> Read More</a>	
      </div>
    </div>
  
