

 <div><img src="../assets/pics/mecca.jpg" class="center" alt="" width="100%" height="400px"/></div>

<div class="cotainer"><p>This is a list of mosques in India. India has more than 300,000 active mosques a number which is more than most Islamic nations. Population wise India has the second largest Muslim population.</p></div>

<div class="row row-cols-1 row-cols-md-3 g-4">
    <div class="col">
      <div class="card h-100">
        <img
          src="../assets/pics/delhi.jpg" width="50%" height="350px"
          class="card-img-top"
          alt="..."
        />
        <div class="card-body">
          <h5 class="card-title" style="background-color: cyan;">Sama mosque</h5>
          <p class="card-text">
            Famous mosque in utterpradesh
            
          </p>
        </div>
        <div class="card-footer" style="background-color: cyan;">
          <a href="uttharapradesh"><b>Utterapradesh</b></a>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card h-100">
        <img
          src="../assets/pics/mecca.jpg" width="50%" height="350px"
          class="card-img-top"
          alt="..."
        />
        <div class="card-body">
          <h5 class="card-title" style="background-color: cyan;">Mecca,saudi</h5>
          <p class="card-text">
            islam pilligrim place
          </p>
        </div>
        <div class="card-footer" style="background-color: cyan;">
          <a href="thamilnadu"><b>Thamilnadu</b></a>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card h-100">
        <img
        src="../assets/pics/hyd.jpg" width="50%" height="350px"
        class="card-img-top"
        alt="..."
      />
      <div class="card-body">
        <h5 class="card-title" style="background-color: cyan;">beatutiful mosque</h5>
        <p class="card-text">
          most visited place,Andrapradesh
          
        </p>
      </div>
      <div class="card-footer" style="background-color: cyan;">
        <a href="andrapradesh"><b>Andrapradesh</b></a>
        </div>
      </div>
    </div>
  </div>
  <div class="row row-cols-1 row-cols-md-3 g-4">
    <div class="col">
      <div class="card h-100">
        <img
          src="../assets/pics/jama.jpg" width="50%" height="350px"
          class="card-img-top"
          alt="..."
        />
        <div class="card-body">
          <h5 class="card-title" style="background-color: cyan;"> jama mosque,mumbai</h5>
          <p class="card-text">
            Mosque with historical beliefs
            
          </p>
        </div>
        <div class="card-footer" style="background-color: cyan;">
          <a href="maharashtra"><b>Maharshtra</b></a>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card h-100">
        <img
        src="../assets/pics/ap.jpg" width="50%" height="350px"
        class="card-img-top"
        alt="..."
      />
      <div class="card-body">
        <h5 class="card-title" style="background-color: cyan;">madina</h5>
        <p class="card-text">
          madhina,utterakand
          
        </p>
      </div>
      <div class="card-footer" style="background-color: cyan;">
        <a href="uttharakand"><b>Utterakand</b></a>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card h-100">
        <img
        src="../assets/pics/shahi.jpg" width="50%" height="350px"
        class="card-img-top"
        alt="..."
      />
      <div class="card-body">
        <h5 class="card-title" style="background-color: cyan;">hahi mosque</h5>
        <p class="card-text">
          mosque in gujarath
          
        </p>
      </div>
      <div class="card-footer" style="background-color: cyan;">
        <a href="gujarath"><b>Gujarath</b></a>
        </div>
      </div>
    </div>
  </div>
  <div class="row row-cols-1 row-cols-md-3 g-4">
    <div class="col">
      <div class="card h-100">
        <img
          src="../assets/pics/guide.jpg" width="50%" height="350px"
          class="card-img-top"
          alt="..."
        />
        <div class="card-body">
          <h5 class="card-title" style="background-color: cyan;">al harma</h5>
          <p class="card-text">
             al harma mosque,madyapradesh
            
          </p>
        </div>
        <div class="card-footer" style="background-color: cyan;">
          <a href="madyapradesh"><b>Madyapradesh</b></a>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card h-100">
        <img
        src="../assets/pics/gujarah.jpg" width="50%" height="350px"
        class="card-img-top"
        alt="..."
      />
      <div class="card-body">
        <h5 class="card-title" style="background-color: cyan;">domes mosque</h5>
        <p class="card-text">
        mosque in madyapradesh
          
        </p>
      </div>
      <div class="card-footer" style="background-color: cyan;">
        <a href="madyapradesh"><b>madyapradesh</b></a>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card h-100">
        <img
          src="../assets/pics/kul.jpg" width="50%" height="350px"
          class="card-img-top"
          alt="..."
        />
        <div class="card-body">
          <h5 class="card-title" style="background-color: cyan;">sri nageshwar</h5>
          <p class="card-text">
          kul sharif,gujarath
            
          </p>
        </div>
        <div class="card-footer" style="background-color: cyan;">
          <a href="gujarath"><b>Gujarath</b></a>
        </div>
      </div>
    </div>
  </div>
  <div class="row row-cols-1 row-cols-md-3 g-4">
    <div class="col">
      <div class="card h-100">
        <img
        src="../assets/pics/bea.jpg" width="50%" height="350px"
        class="card-img-top"
        alt="..."
      />
      <div class="card-body">
        <h5 class="card-title" style="background-color: cyan;">marble mosque</h5>
        <p class="card-text">
          marble mosque is located in Aurangabad,maharashtra
          
        </p>
      </div>
      <div class="card-footer" style="background-color: cyan;">
        <a href="uttharakand"><b>varanasi,Utterakand</b></a>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card h-100">
        <img
        src="../assets/pics/kar.jpg" width="50%" height="350px"
        class="card-img-top"
        alt="..."
      />
      <div class="card-body">
        <h5 class="card-title" style="background-color: cyan;">kaleefa mosque</h5>
        <p class="card-text">
        pune,Maharashtra
          
        </p>
      </div>
      <div class="card-footer" style="background-color: cyan;">
        <a href="maharshtra"><b>pune,maharashtra</b></a>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card h-100">
        <img
        src="../assets/pics/blue.jpg" width="50%" height="350px"
        class="card-img-top"
        alt="..."
      />
      <div class="card-body">
        <h5 class="card-title" style="background-color: cyan;">blue mosque</h5>
        <p class="card-text">
          blue colored mosque,maharashtra
          
        </p>
      </div>
      <div class="card-footer" style="background-color: cyan;">
        <a href="maharashtra"><b>maharashtra</b></a>
        </div>
      </div>
    </div>
  </div>